#who {
    text-align:center;
    
}


body {
    background-color:azure;
}


}
#asked {
    text-align:center;
    margin-top:-920px;
    color:blue;
}

#kashif {
    text-align:center;
    margin-top:35px;
}

#dad-not-found{
    background-color:brown;
    color:aqua;
    border-color:black;
    height:40px;
}

